body {
    background-color: #131832;
    padding: 0px 5em;
    font-size: 1.4em;
}

.hidden {
    display: none !important;
}

nav {
    display: flex;
    align-items: center;
}

nav .siteName {
    display: inline;
    font-size: 0.8em;
    text-align: center;
}

nav .links {
    justify-content: flex-end;
    flex: 1;
    font-size: 0.7em;
    display: inline-flex;
    align-items: center;
}

nav .links a {
    color: white;
    text-decoration: none;
    margin: 0px 0.9em;
}

.intro {
    text-align: center;
    color: white;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h2 {
    margin-bottom: 0.2em;
    margin-top: 3em;
}

.intro .siteName {
    font-size: 4em;
    margin-top: 0.1em;
}

.intro .description {
    font-weight: 400;
    width: 80%;
    line-height: 1.6em;
}

.intro .startButton {
    background: none;
    cursor: pointer;
    margin-top: 2em;
    font-size: 1.5em;
    padding: 0.5em 2em;
    color: inherit;
}

.optionQuestions {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.results .title {
    color: white;
    text-align: center;
}

.results .description {
    color: white;
    width: 60%;
    text-align: center;
}

.questionTitle {
    font-size: 2em;
    color: white;
    margin-bottom: 0.2em;
    margin-top: 1.5em;
}

.optionQuestions .options {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5em;
    justify-content: space-evenly;
}

.optionQuestions .options .option {
    width: 50%;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.optionQuestions .options .option .optionText {
    width: 100%;
    height: 10em;
    text-align: center;
}

.optionQuestions .options .option .imageBorder {
    width: 8em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background: url("/Pictures/hex.png");
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.optionQuestions .options .option .imageBorder .optionImage {
    width: 4.4em;
    height: 4.4em;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.optionQuestions .options .option .imageBorder:hover {
    background: url("/Pictures/hexHover.png");
}

.optionQuestions .options .option .optionText {
    color: white;
    font-weight: 400;
}