body{
    background-color: rgb(9, 9, 32);
    color: white;
    overflow-x: hidden;
}

.first_thing{
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.first_text{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  margin-left: 5%;
  margin-right: auto;
}

.hexagonBorderButton{
  color: white;
  width: 10%;
  color: unset;
  text-decoration: none;
  font-size: 150%;
  width: 32%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.first_text h1{
  font-size: 5em;
  margin-bottom: 0px;
}

.first_text p{
    font-size: 1.5em;
    width: 140%;
}

.first_image{
  width: 40%;
  height: 30%;
  margin-right: 0.3%;
}

.first_image img{
  width: 100%;
  height: 80%;
  margin: 0px;
}

.second_thing{
  display: flex;
  margin-top: 15%;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.second_text{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: auto;
}

.second_text h2{
  font-size: 3em;
  margin-bottom: 0px;
}

.second_text p{
  font-size: 1.2em;
}

.second_image{
  margin-right: 5%;
  margin-left: 0px;
  width: 30%;
  height: 30%;
}

.second_image img{
  width: 100%;
  height: 100%;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: rgb(26, 29, 59);
  border-radius: 25px;
}

.menu h2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  font-size: 3.5em;
}

.menu_steps{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-left: auto;
}

.steps{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.steps img{
  width: 30%;
  height: 30%;
  margin: auto;
}

.steps h4{
  font-size: 1.4em;
  margin-top: 3%;
  margin-bottom: 0px;
}

.steps p{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 5%;
}

.results h3{
  font-size: 2em;
  margin-bottom: 0px;
}

.results p{
  margin-top: 1%;
}

.result_img{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result_img_1{
  width: 45%;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result_img_1 img{
  width: 100%;
  height: 100%;
}

.result_img_1 h4{
  margin-bottom: 0px;
  font-size: 1.5em;
  margin-top: 1.8%;
}

.result_img_1 p{
  margin-bottom: 2%;
}

.upotreba{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6%;
}

.upotreba h2{
  font-size: 3.5em;
  margin-bottom: 1.5em;
}

.groups{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20%;
}

.group_1{
  border: solid 0.7px #A299E9;
  border-radius: 25px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 100%;
}

.groups h3{
  font-size: 1.5em;
}

.groups a{
  text-decoration: none;
  color: unset;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group_2{
  border: solid 0.7px #A299E9;
  border-radius: 25px;
  padding: 2%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.group_3{
  border: solid 0.7px #A299E9;
  border-radius: 25px;
  padding: 2%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.group_3 img{
  width: 57.8%;
}

/* SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(9, 9, 32);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 82);
    border-radius: 2em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 20, 75);
  }