body{
    background-color: rgb(9, 9, 32);
    color: white;
}
.inline{
    display:inline-flex;
    flex-direction: column;
    margin: 5em;
}
.heading{
    font-size: 3em;
    margin-top: 6%;
    margin-bottom: 0px;
}
.smallheading{
    font-size:2em;
}
.smallerheading{
    font-size: 1em;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.column{
    flex-direction: column;
}
.cards{
    display: flex;
}

.num_menu{
    background-color: #1b1c33;
    width: 95% !important;
    border: none !important;
    margin-left: auto;
    margin-right: auto;
}
.card{
    height: fit-content;
    width: 12em;
    margin: 4em;
}
.testpara{
    margin-left: 10em;
}
.profilecard{
    height: fit-content;
    width: 12em;
    margin: 5em;
    padding: 4em;
}
.window{
    border: solid;
    border-radius: 1em;
}
.mainImg{
    width: 15em;
    height: 15em;
}
.numberimgs{
    width: 50%;
    height: 50%;
}
.marginleft{
    margin-left: 5.5em;
}
.siteName{
    font-size: 6em;
    margin-left: 1em;
}
.sitePurpose{
    font-size: large;
    margin-left: 5em;
}
.profilesimg{
    width: 5em;
    height: 5em;
}
.feedbackimg{
    width: 15em;
    height: 15em;
}
.resultsimg{
    width: 200%;
    height: 200%;
}

/* SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(9, 9, 32);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 82);
    border-radius: 2em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 20, 75);
  }